# Ignore everything, except listed files
*

# Global files
!.gitignore
!.gitattributes
!README.md
!LICENSE

# Projects files
!Makefile
!NBK.sln
!NBK.vcxproj
!NBK.vcxproj.filters
!NBK.vcxproj.user

# Batch files
!nbk.sh
!nbk.bat
!batch/nbk_mem.sh
!batch/nbk_thr.sh
!batch/NBK.bat
!batch/NBK_mem.bat

# Sources files
!main.cpp
!Nbk.h
!Nbk.cpp

# System
!System/
!System/System.h
!System/SysMessage.h
!System/SysCPU.h
!System/SysCPU.cpp
!System/SysCRC.h
!System/SysSleep.h
!System/SysThread.h
!System/SysThread.cpp
!System/SysMutex.h
!System/SysMutexLocker.h
!System/SysClock.h
!System/SysClock.cpp
!System/SysSettings.h
!System/SysSettings.cpp
!System/Lin/SysMessage.h
!System/Lin/SysMessage.cpp
!System/Lin/SysCPU.h
!System/Win/SysMessage.h
!System/Win/SysMessage.cpp
!System/Win/SysCPU.h

# Stdlib
!Stdlib/
!Stdlib/String.h
!Stdlib/StringLib.h

# Network
!Network/
!Network/Network.h
!Network/Network.cpp
!Network/IPAddress.h
!Network/IPAddress.cpp
!Network/TCPSocket.h
!Network/TCPSocket.cpp
!Network/UDPSocket.h
!Network/UDPSocket.cpp

# Math
!Math/
!Math/Math.h
!Math/MultiInt.h
!Math/Vector2.h
!Math/Vector2i.h
!Math/Vector3.h
!Math/Vector3i.h
!Math/Vector4.h
!Math/Vector4i.h
!Math/Matrix4x4.h
!Math/Transform2.h
!Math/Transform3.h
