# Ignore everything, except listed files
*

# Global files
!.gitignore
!.gitattributes
!README.md
!LICENSE

# Projects files
!Makefile
!make.bat
!makeclean.bat
!NBK.sln
!NBK.vcxproj
!NBK.vcxproj.filters
!NBK.vcxproj.user

# Batch files
!nbk.sh
!nbk.bat
!batch/nbk_mem.sh
!batch/nbk_thr.sh
!batch/NBK.bat
!batch/NBK_mem.bat

# Sources files
!main.cpp
!Nbk.h
!Nbk.cpp

# System
!System/
!System/System.h
!System/SysMessage.h
!System/SysCPU.h
!System/SysCPU.cpp
!System/SysCRC.h
!System/SysSleep.h
!System/SysThread.h
!System/SysThread.cpp
!System/SysMutex.h
!System/SysMutexLocker.h
!System/SysClock.h
!System/SysClock.cpp
!System/SysSettings.h
!System/SysSettings.cpp
!System/Arm/SysCPU.h
!System/Lin/SysMessage.h
!System/Lin/SysMessage.cpp
!System/Lin/SysCPU.h
!System/Win/SysMessage.h
!System/Win/SysMessage.cpp
!System/Win/SysCPU.h

# Stdlib
!Stdlib/
!Stdlib/String.h
!Stdlib/StringLib.h
!Stdlib/Console.h
!Stdlib/Console.cpp
!Stdlib/File.h

# Network
!Network/
!Network/Network.h
!Network/Network.cpp
!Network/IPAddress.h
!Network/IPAddress.cpp
!Network/TCPSocket.h
!Network/TCPSocket.cpp
!Network/UDPSocket.h
!Network/UDPSocket.cpp

# Math
!Math/
!Math/Math.h
!Math/Sinus.h
!Math/MultiInt.h
!Math/Vector2.h
!Math/Vector2i.h
!Math/Vector3.h
!Math/Vector3i.h
!Math/Vector4.h
!Math/Vector4i.h
!Math/Matrix4x4.h
!Math/Transform2.h
!Math/Transform3.h

# Physics
!Physics/
!Physics/Physics.h
!Physics/Physics.cpp
!Physics/PhysicsTransform2.h
!Physics/PhysicsTransform2.cpp
!Physics/PhysicsTransform3.h
!Physics/PhysicsTransform3.cpp
!Physics/Collision2.h
!Physics/Collision2.cpp
!Physics/MatrixChunk2.h
!Physics/MatrixChunk2.cpp
!Physics/MatrixStream2.h
!Physics/MatrixStream2.cpp
!Physics/BoundingSurfaces/
!Physics/BoundingSurfaces/BoundingCircle.h
!Physics/BoundingSurfaces/BoundingCircle.cpp
!Physics/BoundingSurfaces/BoundingAlignRect.h
!Physics/BoundingSurfaces/BoundingAlignRect.cpp
!Physics/BoundingSurfaces/BoundingRect.h
!Physics/BoundingSurfaces/BoundingRect.cpp

# Resources
!Resources/
!Resources/Resources.h
!Resources/Resources.cpp
!Resources/MatrixColLoader.h
!Resources/MatrixColLoader.cpp

# Softwares
!Softwares/
!Softwares/Softwares.h
!Softwares/Softwares.cpp
